In [53]:
File_PATH = 'data/salesforcourse-4fe2kehu.csv'

In [54]:
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv(File_PATH)

In [56]:
df.head()

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0,2/19/2016,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,NaN
1,1,2/20/2016,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,NaN
2,2,2/27/2016,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,NaN
3,3,3/12/2016,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,NaN
4,4,3/12/2016,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,NaN

In [57]:
df.drop(columns=['index','Column1'],inplace=True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34867 entries, 0 to 34866
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              34866 non-null  object
 1   Year              34866 non-null  float64
 2   Month             34866 non-null  object
 3   Customer Age      34866 non-null  float64
 4   Customer Gender   34866 non-null  object
 5   Country           34866 non-null  object
 6   State             34866 non-null  object
 7   Product Category  34866 non-null  object
 8   Sub Category      34866 non-null  object
 9   Quantity          34866 non-null  float64
 10  Unit Cost         34866 non-null  float64
 11  Unit Price        34866 non-null  float64
 12  Cost              34866 non-null  float64
 13  Revenue           34867 non-null  float64
dtypes: float64(7), object(7)
memory usage: 3.7+ MB

In [59]:
df.dropna(inplace=True)

In [60]:
df.shape

(34866, 14)

In [61]:
df['Date'] = pd.to_datetime(df['Date'])

In [62]:
print(df['Date'].dtype)

datetime64[ns]

In [63]:
df['Day'] = df['Date'].dt.day

In [64]:
df['weekday'] = df['Date'].dt.weekday

In [65]:
df['Year'] = df['Year'].astype('int64')

In [66]:
df['Quantity'] = df['Quantity'].astype('int64')
df['Customer Age'] = df['Customer Age'].astype('int64')

In [68]:
df.head()

,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Day,weekday
0,2016-02-19,2016,February,29,F,United States,Washington,Accessories,Tires and Tubes,1,80.00,109.000000,80.0,109.0,19,4
1,2016-02-20,2016,February,29,F,United States,Washington,Clothing,Gloves,2,24.50,28.500000,49.0,57.0,20,5
2,2016-02-27,2016,February,29,F,United States,Washington,Accessories,Tires and Tubes,3,3.67,5.000000,11.0,15.0,27,5
3,2016-03-12,2016,March,29,F,United States,Washington,Accessories,Tires and Tubes,2,87.50,116.500000,175.0,233.0,12,5
4,2016-03-12,2016,March,29,F,United States,Washington,Accessories,Tires and Tubes,3,35.00,41.666667,105.0,125.0,12,5

In [70]:
df.to_csv('data/salesforcast_preprocessed.csv',index=False)